@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Kite+One&family=Poppins:wght@300&family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Kite+One&family=Short+Stack&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
  
.background-settings {
  background-color: rgb(180,211,178);
  background-image: url('../images/background.jpg');
  background-size: cover;
}

h1 {
  font-family: 'butterfly kids', cursive;
  font-size: 400%;
  font-weight: 900;
  color: #200015;
}

i {
    font-size: 70%;
    color: #254c10;
}

.text-area {
  background-color: #e9edef;
  box-sizing: content-box;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  padding: 1%;
  padding-left: 2vw;
  font-size: medium;
  font-family: Poppins, sans-serif;
  border-radius: 7%;
  border: solid 3px orange;  
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-size: medium;
}
  
.container {
  width: 800px;
  max-width: 80%;
  background-color: #e9edef;
  box-sizing: content-box;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  font-family: Poppins, sans-serif;
  border: solid 3px orange;
  border-radius: 10px;
  padding: 10px;    
}

#arrow {
  font-size: 200%;
}

#home {
  font-size: 120%;
}

#logo-header {
margin-left: 4vw;
margin-top: -60vh;
}

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    font-family: Poppins, sans-serif;
    font-size: large;
    font-weight: bold;
}

.example {
  color: darkcyan;
}

.btn {
    font-family: Poppins, sans-serif;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    background-color: #abdee6;
    font-size: large;
    font-weight: 400;
}
  
.btn:hover {
    border: 4px dotted #427379 ;
    cursor: pointer;
}

.btn.correct {
    background-color: green;
    color: black;
}
  
.btn.wrong {
    background-color: palevioletred;
    color: black;
}

.word-class {
  font-size: large;
  font-weight: bold;  
  font-family: Poppins, sans-serif;
}

#definitions {
  font-weight: bold;
  padding: 0;
  font-family: Poppins, sans-serif;
}

#definitions:hover {
  text-decoration: solid underline 3px black;
}

#go_to_quiz {
    background-color: #fae2e3;
    border: 3px solid olive;
    padding: 5px;
    margin: 10px;
    margin-left: 18vw;
    border-radius: 7%;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: medium;
    font-family: Poppins, sans-serif;
}

.ready .next-frame {
  font-size: 300%;
  font-weight: bolder;
  font-family: Poppins, sans-serif;
  padding: 5px 10px;
  color: #254c10;
  background-color: papayawhip;
  border: 3px solid #2E4DA7;
}
 
.prompts {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.hide {
    display: none;
}

#question {
  font-size: 500%;
  font-weight: 400;
  margin-left: 10%;
  padding-bottom: 3%;
  font-family: Poppins, sans-serif;
}
  
#static-question {
  height: 80%;
  width: 80%;
  margin-left: 1%;
  color: #43464b;
  font-size: large;
  font-family: Poppins, sans-serif;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #abdee6;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 5px solid orange;
  font-weight: bold;
  font-size: 150%;
  border-radius: 7%;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* media queries */

@media only screen    and (min-width: 320px) and (max-width:650px)
                      and (min-height: 480px) and (max-height: 1000px) 
                      and (orientation: portrait) {

#logo-header {
  margin-top: -80vh;
  margin-left: 5vw
}

body {
  justify-content: center;
  align-items: center;
  font-size: small;
}

#go_to_quiz {
  font-size: 90%;
  margin-left: 24vw;
  margin-top: 3px;
  margin-bottom: 3px;
}

.word-class {
  font-size: small;
}

h3 {
  font-size: small;
}

#question {
  font-size: 300%;
}

#static-question { 
  font-size: 80%
}

.answer-grid {
  gap: 5px;
}

.text-area {
  background-color: #e9edef;
  width: 90%;
  margin-top: 2vh;
  padding: 0;
  padding-left: 2vw;
  font-size: 80%;
  border-radius: 7%;
  border: solid 3px orange;  
}

.container {
  width: 70%;
}

.btn {
  font-size: 80%;

  padding: 2px 5px;
}

h1 {
  text-align: center;
  font-size: 250%;
}

.modal-content {
  font-size: 80%;
}
}


@media only screen  and (min-width: 480px) and (max-width: 1000px)
                    and (min-height: 320px) and (max-height: 1000px) 
                    and (orientation: landscape) {

body {
  justify-content: center;
  align-items: center;
  font-size: small;
}

.text-area {
  background-color: #e9edef;
  width: 90%;
  margin-top: 20vh;
  padding: 0;
  padding-left: 2vw;
  font-size: 80%;
  border-radius: 7%;
  border: solid 3px orange;  
}

.word-class {
  font-size: 100%;
}

h3 {
  font-size: 80%;
}

#go_to_quiz {
  margin-left: 33vw;
  font-size: 100%;
}

.ready .next-frame {
  font-size: 100%;
  font-weight: 200;
  font-family: Poppins, sans-serif;
  padding: 2px 5px;
  color: #254c10;
  background-color: papayawhip;
  border: 2px solid #2E4DA7;
  margin-right: -3vw;
}

.prompts{
  width: 95%;
}

#static-question {
  font-size: small;
}

#question {
  font-size: 200%;
}

.btn {
  font-size: small;
  padding: 0.5px;
  font-weight: 200;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;
  margin: 10px 0;
  font-family: Poppins, sans-serif;
  font-size: medium;
  font-weight: 200%;
}

.ready .next-frame {
  font-size: 70%;
  font-weight: 200;
  font-family: Poppins, sans-serif;
  padding: 2px 5px;
  color: #254c10;
  background-color: papayawhip;
  border: 2px solid #2E4DA7;
}

.container {
  margin-left: auto;
}

i {
  font-size: medium;
}

#arrow {
  font-size: 150%;
}
h1 {
  text-align: center;
  font-size: 300%;
  }

.modal-content {
    font-size: 80%;
}
}

/* END */                  